<main>
    
    <h1>{{pageTitle}}</h1>

    <form method="POST" action="/newPassword">
        Enter New Password:<input type="password" name="password"><br>
        <button type="submit">Reset</button>
        <input type="hidden" name="_csrf" value={{csrfToken}}>
        <input type="hidden" name="userId" value={{userId}}>
    </form>

   
   {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
    
    
   
</main>
